.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}

.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  margin: 0 5px;
}

.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical {
  touch-action: pan-x;
}
.image-gallery-thumbnails-wrapper {
  position: relative;
}


.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  border: 0px solid #337ab7;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus, .image-gallery-thumbnail:hover {
  outline: none;
  /* // border: 4px solid #c09578!important; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
    display: block;
    position: relative;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  line-height: 0;
  padding: 5px;
}

.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 110px);
}
.image-gallery-slide-wrapper {
  position: relative;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
  min-height: 440px;
}

.image-gallery-slide.center {
  position: relative;
}

.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 0;
}


.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails{
  overflow: hidden auto;
  height: 400px !important;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails::-webkit-scrollbar{
  display: none
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
  outline: none;
  /* // border: 4px solid #c09578 !important; */
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  touch-action: pan-y;
  max-width: 400px;
  margin: 20px auto;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal .image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal .image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
/* // .image-gallery-thumbnail+.image-gallery-thumbnail {
//   margin-left: 20px;
// } */
.image-gallery-thumbnail {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 60px;
  height: 60px;
  background: transparent;
  padding: 0;
  background-color: #fff;
  vertical-align: middle;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 30px;
  width: 30px;
}
.image-gallery-icon {
  /* // display: none; */
    color: #6D7278;
    transition: all .3s ease-out;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 4;
    /* // filter: drop-shadow(0 2px 2px #1a1a1a); */
}
.image-gallery-left-nav {
  left: 0;
}
.image-gallery-right-nav {
  right: 0;
}
.image-gallery-left-nav, .image-gallery-right-nav {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid;
  padding: 0px;
  /* // padding: 50px 10px; */
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .imgDiv{
    width: 100% !important;
  }
    .imgDiv img {
      background-color: #F7FBFF;
      width: 100% !important;
    }
  .img-zoom-result {
    width: 100% !important;
    left: 0px !important;
    margin-left: 0px !important;
    box-shadow: none !important;
  }
}
.imgDiv{
  position: relative;
  height: 400px;
  width: 400px;
  margin: auto;
  z-index: 1;
  /* // border: 1px solid #d4d4d4; */
  overflow: hidden;
  border-radius: 20px;
  /* // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
 .imgDiv img {
    background-color: #F7FBFF;
  }
.imgDiv.hover {
  opacity: 0;
}
.video-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  height: 400px;
  width: 400px;
  margin: auto;
  z-index: 1;
}

.img-zoom-lens {
  position: absolute;
  /* // border: 1px solid #d4d4d4; */
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
  /* // background-color: rgba(0,0,0,0.1); */
}

.img-zoom-result {
  /* // border: 1px solid #d4d4d4; */
  /*set the size of the result div:*/
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -200px;
  z-index: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}