[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  /* height: 300px; */
  max-height: 100vh;
}

/* .number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
} */

.navigation-wrapper {
  position: relative;
}


.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #e63232;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


.title {
  display: block;
  color:rgba(99,99,99, 0.7) ;
  margin: 0 0 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  /* font-size: 20px; */
  line-height: 16px;
  font-weight: 200;
  /* font-family: 'Caveat', sans-serif; */

}

h1{
  font-family: 'Roboto', sans-serif;
}
.slider h2 {
  /* color: rgba(99,99,99, 1); */
  /* margin: 25px 0; */
  font-weight: 700;
  /* font-size: 51px !important; */
  /* line-height: 54px; */
  font-family: 'Montserrat', sans-serif;
 
}
/* p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
} */
.slider .txt {
  /* // color: rgba(214, 51, 132, 1); */
  color: rgba(99, 99, 99, 1);
  /* // box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px; */
  /* max-width: 65%;
  padding: 0px 75px; */
  font-style: italic;
  /* margin: 0 auto 25px; */
  /* font-size:$Xlarge; */
  /* font-size:25px;
  line-height: 21px; */
  /* // background-color: rgba($color: rgba(255, 255, 255, 1), $alpha: 0.1);
  // border: 2px solid rgba($color: rgba(255, 255, 255, 1), $alpha: 0.1); */
}

.shop {
  margin: 20px;
  /* &:hover {
    color: orange;
  } */
}
/* .sliderImage{
  position: absolute;
  z-index: -1;
  top: -175px;
  object-fit: cover;
  object-position: center;
  max-width: 250px;
  max-height: 250px;
} */

 .btnSlider{
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    /* background:rgba(rgba(255, 255, 255, 1), 1); */
  
    font-size:16px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;

  } 
  





 .number-slide {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}




.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

