 /* global */
 .container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 19px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .row-item {
   outline: 2px solid rgba(233,233,233, 0.5);
   cursor: pointer;
   transition: all 0.15s ease-in;
   background-color: white;
   /* padding: 5px; */
   display: block;
 }

 .row-item a {
   text-decoration: none !important;
   color: rgba(99, 99, 99, 0.5) !important;
   transition: all 0.4s ease 0s;
 }

 .row-item:hover {
   outline: 2px solid rgba(233,233,233, 1);
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 }

 .trending {
   /* height: 85vh; */
   background-color: rgba(99, 99, 99, 0.05);
 }

 .item-header img {
   max-width: 500px;
   max-height: 175px;
   width: 100%;
   height: 175px;
   object-fit: cover;
 }

 .item-description {
   /* font-size: 1.7rem; */
   padding: 1rem;
 }

 .trending h3 {
   font-size: 1.5rem;
   font-weight: 300;
   margin-bottom: 0.5rem !important;
 }

 .row-container {
   display: flex;
   gap: 1.25rem;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   scroll-behavior: smooth;
   position: relative;
   padding: 0.5rem 0.6rem;
 }

 /* Hide scrollbar for Chrome, Safari and Opera */
 .row-container::-webkit-scrollbar {
   display: none;

   /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;
   scrollbar-width: none;
 }

 .title-btns {
   display: flex;
   justify-content: space-between;
 }

 .btns button {
   transition: all 0.15s ease-out;
   border: none;
   height: 2.5rem;
   width: 2.5rem;
   cursor: pointer;
   transition: all 0.1s ease-in;
   /* font-family: $none; */
   background: #fffefe;
   border: 0.01rem solid white;
   border-radius: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
 }
 .btns button:hover{
  background: #ccc;
 }
 .btns button svg {
   fill: #636363 !important;
   width: 16px;
   height: 16px;
 }
 .btns button:hover svg{
  fill: white !important;
 }
 /* svg:hover {
   fill: white !important;

 } */

 .btns {
   display: flex;
   gap: 0.4rem;
 }

 /* .btns button:hover {
    background-color: black;
  } */
.itemName {
  font-size: .825rem;
}
 .item-price {
   font-weight: 400;
   font-size: 1.25rem;
   /* margin-top: 1.4rem; */
 }

 .link {
   text-decoration: none;
   color: black;
   height: 100%;
   /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
 }