.main-wrapper {
  @apply w-full h-full bg-purple-600 flex content-center justify-center text-white;
}
.headerContainer {
  @apply flex w-full flex-row justify-between shrink-0 fixed z-10 top-0 left-auto right-0 text-bhprimary;
}
a {
  /* @apply bg-purple-700 text-bhprimary mt-0 mr-0 mb-0 ml-7 uppercase text-sm hover:transition-all ease-in-out duration-300; */
}
body {
  /* font-family: var(--raleway-font); */
}
.AboutSection h3 {
  @apply mb-5 text-3xl font-bold leading-relaxed text-gray-500  capitalize;
}
.trending{
    @apply h-min bg-slate-300;
}
.trending h3{
@apply text-gray-400;
}
.sidebar h1{
  @apply text-gray-700 mb-5 uppercase font-bold text-lg;
}

.trendingContainer{
    @apply flex mr-auto pb-3 flex-col justify-center;
}
.rowContainer{
    @apply flex gap-2 overflow-y-hidden whitespace-nowrap relative px-1
}
.btns {
  width: 90px;
}
.btns svg {
  padding: 5px ;
  background: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.btns svg:hover {
  opacity: 0.6;
}
