@tailwind base;
@tailwind components;
@tailwind utilities;
@import "custom.css";
@import "components/slider.css";
@import "components/trendingslider.css";
@import 'components/productDetailSlider.css';

/* @import 'components/form.css'; */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 222.2 47.4% 11.2%; */
    --primary: 187 63% 21%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
@layer base {
  h1 {
    @apply text-2xl text-blue-500;
    /* @apply text-gray-500 [!important]; */
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .payment-content {
    @apply
    flex items-center sm:justify-center
    p-5 pr-4 sm:p-8 gap-5
    h-24 sm:h-40 w-full bg-white border-2 border-gray-500 rounded-md transition-all
    peer-checked:border-blue-400 peer-checked:shadow-lg peer-checked:-translate-y-1
  }
  .rowItem {
    outline: 2px solid rgb(99, 99, 99, 0.01);
    cursor: pointer;
    transition: all 0.15s ease-in;
    background-color: white;
    padding: 5px;
    /* a{
      text-decoration: none !important;
      color: rgba(99,99,99, 0.7) !important;
      transition: all 0.4s ease 0s;
    }
    ::hover{
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    } */
  }
  /* .rowItem {
    outline: 2px solid rgb($text-darkGray, 0.01);
    cursor: pointer;
    transition: all 0.15s ease-in;
    background-color: white;
   
    padding: 5px;
    a {
      text-decoration: none !important;
      color: rgba($color: $text-darkGray, $alpha: 0.7) !important;
      transition: all 0.4s ease 0s;
    }
    &:hover{
      // outline: 2px solid rgba($text-darkGray, 0.1);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
   
  } */
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  /* // height: calc(100vh - $header-height); */
  min-height: calc(100vh - 345px);
}
.popup {
  min-width: 200px;
  bottom: 190%;
  transform: translateX(-50%);
}
.popup-body {
  padding: 20px 10px;
  position: relative;
}
.popup-body::before {
  content: "";
  bottom: -18px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.popup-body button {
  padding: 5px;
}